body {
  font-family: 'PT Sans', sans-serif;
  position: relative;
  right: 0;
  margin: 0;
  color: #4F4D4F;
  background: ghostwhite; }

/* pt-sans-regular - latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"), url("/fonts/pt-sans-v9-latin-regular.woff2") format("woff2"), url("/fonts/pt-sans-v9-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }
/* pt-sans-700 - latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"), url("/fonts/pt-sans-v9-latin-700.woff2") format("woff2"), url("/fonts/pt-sans-v9-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }
.bg {
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 350px;
  height: 60vh; }

.bg.home {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.45)), url("/images/mobile-home-background.jpg") no-repeat center;
  min-height: 600px;
  background-size: cover; }

.bg.website-design {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("/images/website-design-background.jpg") no-repeat center;
  background-size: cover; }

.bg.seo {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("/images/search-engine-optimization-background.jpg") no-repeat center;
  background-size: cover; }

.bg.blog {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("/images/blog-background.png") no-repeat center;
  background-size: cover; }

.bg.pay-per-click-marketing {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("/images/pay-per-click-marketing-background.jpg") no-repeat center;
  background-size: cover; }

.bg.contact-us,
.bg.thank-you {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/images/contact-us-background.jpg") no-repeat center;
  background-size: cover; }

.Why {
  background: #f0f0f0; }

.banner {
  background: #4286f4;
  text-align: center;
  color: white;
  padding: 4.5vw 1.825vw; }

.banner.contact {
  background: orange; }

.eqHeight:before, .eqHeight:after {
  content: normal; }

.row.eqHeight.icons {
  text-align: center;
  padding: 3vw 1.825vw; }

.row.eqHeight.icons.secondRow {
  padding: 0 1.825vw 3vw 1.825vw; }

.icons img {
  margin: 20px auto;
  width: 40px;
  height: auto; }

.banner h2 a {
  text-decoration: none;
  color: white; }

h1 {
  font-size: 6.5vw;
  margin: 5vw;
  line-height: 9vw; }

h2 {
  font-size: 5vw;
  margin: 0;
  line-height: 7.5vw; }

h3 {
  font-size: 4.5vw;
  margin: 0;
  line-height: 6vw;
  color: #767376; }

h3 a {
  color: inherit;
  text-decoration: none; }

h3 a:hover {
  color: inherit;
  text-decoration: none; }

h4 {
  font-size: 3.75vw;
  margin-top: 0;
  color: #767376; }

h1.splash {
  text-align: left;
  color: white;
  padding: 30vh 0 0 1.825vw;
  margin: 0;
  line-height: 12.5vw;
  font-size: 6.5vw; }

h2.splash {
  text-align: left;
  color: white;
  padding: 0 0 0 1.825vw;
  margin: 0;
  font-size: 4.5vw;
  line-height: 7.2vw; }

h1.splash span {
  display: block; }

h2.splash span {
  display: block; }

.row {
  padding: 0;
  margin: 0; }

.spacer {
  padding-top: 0.5vw; }

.bigSpacer {
  padding-top: 6vw; }

.greybg {
  background: #f5f5f5; }

.greyerbg {
  background: #eee; }

.darkgreybg {
  background: #bbb; }

.featuresContainer {
  display: flex; }

.features {
  text-align: center;
  padding: 4.5vw 5.825vw; }

.featuresPadding {
  padding: 4.5vw 1.825vw; }

.serviceTextBox {
  font-size: 3.2vw; }

.serviceTextBoxHeading {
  font-size: 3.2vw; }

.logo {
  height: 14vw;
  width: auto; }

.features ul {
  list-style: none;
  background-color: ghostwhite;
  padding: 0; }

.features ul li {
  text-align: center;
  font-size: 3.2vw;
  padding: 1vw;
  border-bottom: 1px solid #eee;
  width: 90%;
  margin: 0 auto; }

.features ul li:last-child {
  border-bottom: none; }

.features ul h2 {
  padding: 1vw; }

ul.blog {
  list-style: none;
  background-color: ghostwhite;
  padding: 0; }

ul.blog li {
  text-align: center;
  font-size: 3.2vw;
  padding: 1vw;
  border-bottom: 1px solid #eee;
  width: 90%;
  margin: 0 auto; }

ul.blog li:last-child {
  border-bottom: none; }

ul.blog h2 {
  padding: 1vw; }

.blogRow {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.serviceDetail {
  font-size: 1.5vw;
  text-align: center; }

.serviceDetail h3 {
  padding: 1.5vw; }

.serviceHeading {
  padding: 4.5vw 1.825vw;
  text-align: center; }

.serviceContainer {
  display: flex; }

.serviceCols {
  padding: 4.5vw 1.825vw;
  color: #656666; }

.serviceCols:last-child {
  padding-bottom: 9vw; }

.serviceImage {
  background-color: #656666; }

.serviceCols a {
  color: #656666; }

.serviceCols a:hover {
  text-decoration: none; }

.circular--square {
  border-radius: 50%; }

.serviceIcon {
  width: 25vw; }

.footerImg {
  width: 80%;
  min-height: 1px;
  margin: 0 auto; }

.footerImg img {
  display: block;
  margin: 0;
  width: 100%;
  height: auto; }

.featuresImg {
  width: 80%;
  min-height: 1px;
  margin: 0 auto; }

.featuresImg img {
  display: block;
  margin: 0;
  width: 100%;
  height: auto; }

.serviceIcon img {
  display: block;
  margin: 0;
  height: auto;
  width: 100%; }

.serviceText {
  width: 75vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 3.5vw; }

.addressText {
  font-size: 3.5vw;
  display: flex;
  flex-direction: column-reverse; }

.officeLocationHtAdjust {
  padding-top: 4vw; }

.serviceText p {
  font-size: 4.5vw; }

.toUpper {
  text-transform: uppercase; }

.bold {
  font-weight: bold; }

.serviceText.serviceSpace p {
  padding-top: 1vw;
  padding-bottom: 1vw; }

p.bold {
  line-height: 0.5; }

.footerCols p.bold {
  line-height: 2; }

.underline {
  text-decoration: underline; }

.serviceText {
  color: #656666;
  text-decoration: none;
  margin-bottom: 0; }

.serviceLink {
  margin: 0; }

.serviceLink a {
  text-decoration: underline;
  margin: 0; }

.serviceLink a:hover {
  text-decoration: none; }

#map {
  width: 100%;
  height: 50vh; }

#map img {
  width: 0;
  height: 0; }

.mapBox {
  display: flex;
  flex-direction: row; }

.phone {
  width: 50px;
  height: auto;
  float: right;
  padding: 2vw; }

a[href^="http://maps.google.com/maps"] {
  display: none !important; }

a[href^="https://maps.google.com/maps"] {
  display: none !important; }

.gmnoprint a,
.gmnoprint span,
.gm-style-cc {
  display: none; }

.gmnoprint div {
  background: none !important; }

.oldNavWrapper {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 14vw; }

.oldNav {
  cursor: default;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.825vw;
  z-index: 1; }

.oldNav ul {
  display: inline-block;
  text-align: right;
  padding: 0;
  margin: 0; }

.oldNav ul li {
  font-size: 1.2vw;
  margin-left: 1.825vw;
  display: inline-block;
  position: relative; }

.oldNav ul li a {
  color: white;
  text-decoration: none;
  padding: 0.6vw 0; }

.oldNav ul li a:hover {
  text-decoration: none;
  color: white; }

.oldNav ul li ul {
  display: none;
  position: absolute;
  top: 2.8vw;
  left: -1vw;
  background-color: white;
  width: 10vw;
  padding: 0;
  margin: 0;
  border-radius: 0.2vw; }

.oldNav ul li:hover ul {
  display: inline-block;
  text-align: left; }

.oldNav ul li ul li {
  width: 100%;
  margin-left: 0;
  border-bottom: 0.05vw solid lightgrey; }

.oldNav ul li ul li a:hover {
  color: grey; }

.oldNav ul li ul li a {
  width: 100%;
  color: grey;
  padding: 1vw; }

.oldNav ul li ul li:last-child {
  border-bottom: none; }

.newNavWrapper {
  position: fixed;
  top: -14vw;
  right: 0;
  z-index: 99;
  width: 100%;
  height: 14vw; }

.newNav {
  cursor: default;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.825vw;
  z-index: 99;
  height: 14vw;
  background-color: rgba(255, 255, 255, 0.95); }

.newNav ul {
  display: inline-block;
  text-align: right;
  padding: 0;
  margin: 0; }

.newNav ul li {
  font-size: 1.2vw;
  margin-left: 1.825vw;
  display: inline-block;
  position: relative;
  color: grey; }

.newNav ul li a {
  color: grey;
  text-decoration: none;
  text-decoration: none;
  padding: 0.6vw 0; }

.newNav ul li ul {
  display: none;
  position: absolute;
  top: 2.8vw;
  left: -1vw;
  background-color: white;
  width: 10vw;
  padding: 0;
  margin: 0;
  border-radius: 0.2vw; }

.newNav ul li:hover ul {
  display: inline-block;
  text-align: left; }

.newNav ul li ul li {
  width: 100%;
  margin-left: 0;
  border-bottom: 0.05vw solid lightgrey; }

.newNav ul li ul li a {
  width: 100%;
  color: grey;
  padding: 1vw; }

.newNav ul li ul li:last-child {
  border-bottom: none; }

.slideNewNavDown {
  transition: transform 0.5s;
  transform: translateY(13.95vw); }

.hvr-underline-from-left:before {
  background: #4286f4;
  height: 4px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease; }

.hvr-underline-from-none:before {
  background: inherit;
  height: 4px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease; }

.eqHeight {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.eqHeight > [class*='col-'] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.eqHeight p span {
  line-height: 2;
  display: block; }

.footerRow {
  background-color: #e0e0e0;
  color: #656666;
  text-align: center; }

.copyrightRow {
  color: #eeeeee;
  background-color: #656666; }

.footerCols {
  padding: 4.5vw 1.825vw; }

.copyright {
  padding: 4.5vw 1.825vw;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.copyright p {
  font-size: 2.8vw;
  margin: 0;
  text-align: center; }

.copyright ul li a {
  color: #eee;
  -webkit-transition: color 0.4s;
  /* Safari */
  transition: color 0.4s; }

.footerCols p a {
  color: #4286f4;
  text-decoration: none; }

.footerCols p a:hover {
  color: #4286f4;
  text-decoration: none; }

.footerCols p a i {
  font-size: 9vw;
  color: grey;
  -webkit-transition: color 0.4s;
  /* Safari */
  transition: color 0.4s;
  padding-right: 3vw; }

.footerCols p a i:hover {
  color: #4286f4; }

.copyright ul li a:hover {
  color: #4286f4; }

.copyright i {
  font-size: 6.5vw; }

.copyright ul {
  cursor: default;
  display: inline-block;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0; }

.copyright ul li {
  display: inline-block;
  margin-left: 4.5vw; }

.copyright ul li:first-child {
  margin-left: 0; }

.footerCols:last-child {
  padding-bottom: 9vw; }

.footerCols h3 {
  padding: 4.5vw 0; }

.footerCols p {
  font-size: 4vw; }

#map p span {
  display: block; }

.footerCols p span {
  display: block; }

.footerCols ul {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0; }

.footerCols ul li img {
  display: block;
  height: auto;
  width: 20vw;
  padding: 3.65vw 0vw; }

.footerBanner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: ghostwhite; }

.body-container {
  padding: 0;
  background: ghostwhite;
  margin: 0; }

.menu {
  right: -270px;
  height: 100%;
  position: fixed;
  width: 270px;
  z-index: 5;
  background: rgba(255, 255, 255, 0.95); }

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.menu li {
  font-family: 'Open Sans', sans-serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px; }

.menu a {
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: grey; }

.icon-close {
  cursor: pointer; }

.icon-menu {
  cursor: pointer;
  display: inline-block;
  padding-top: 0.8vw; }

.icon-menuBottom {
  display: inline-block;
  cursor: pointer;
  padding-top: 0.8vw; }

.nameEmail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  outline: none; }

.inputField {
  font-size: 5vw;
  padding: 1vw 1vw;
  border: 0.5vw solid lightgrey;
  border-radius: 1vw;
  outline: none;
  margin-top: 2.5vw; }

.textBox {
  margin-top: 15px;
  width: 100%;
  font-size: 5vw;
  padding: 1vw 1vw;
  border: 0.5vw solid lightgrey;
  border-radius: 1vw;
  outline: none; }

input[type=submit] {
  background: white;
  padding: 1vw 1vw;
  border: 0.5vw solid #4286f4;
  border-radius: 1vw;
  -webkit-transition: background color 0.4s;
  /* Safari */
  transition: background color 0.4s;
  font-size: 5vw;
  margin-top: 2.5vw; }

input[type=submit]:hover {
  background: #4286f4;
  color: white; }

input[type=submit] a {
  color: inherit;
  -webkit-transition: color 0.4s;
  /* Safari */
  transition: color 0.4s; }

input[type=submit] a:hover {
  color: white; }

button {
  background: none;
  padding: 0.1vw 0.5vw;
  border: 0.2vw solid white;
  border-radius: 0.5vw;
  -webkit-transition: background 0.4s;
  /* Safari */
  transition: background 0.4s;
  outline: none; }

button:hover {
  background: #4286f4; }

#bottomScroll {
  background: inherit;
  padding: 0.1vw 0.5vw;
  border: 0.2vw solid #4286f4;
  border-radius: 0.5vw;
  -webkit-transition: background color 0.4s;
  /* Safari */
  transition: background color 0.4s; }

#bottomScroll:hover {
  background: #4286f4;
  color: white; }

#bottomScroll a {
  color: inherit;
  -webkit-transition: color 0.4s;
  /* Safari */
  transition: color 0.4s; }

#bottomScroll a:hover {
  color: white; }

@media all {
  .oldNav > ul > li:last-child {
    display: inline-block; }

  .oldNav > ul > li:not(:last-child) {
    display: none; }

  .newNav > ul > li:last-child {
    display: inline-block; }

  .newNav > ul > li:not(:last-child) {
    display: none; } }
@media (min-width: 576px) {
  .logo,
  .oldNavWrapper,
  .oldNav,
  .newNavWrapper,
  .newNav {
    height: 8.1vw; }

  .newNavWrapper,
  .newNav {
    top: -8.1vw; }

  .slideNewNavDown {
    transform: translateY(8.05vw); }

  h1.splash {
    font-size: 5.4vw;
    line-height: 8.6vw; }

  h2.splash {
    font-size: 3.75vw;
    line-height: 6vw; } }
@media (min-width: 768px) {
  .phone {
    width: 70px;
    height: auto; }

  h4 {
    font-size: 2.5vw; }

  .bg.home {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url("/images/home-background.jpg") no-repeat center;
    height: 120vh;
    background-size: cover; }

  .bg.website-design {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/images/website-design-background.jpg") no-repeat center;
    background-size: cover; }

  .bg.blog {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/images/blog-background.png") no-repeat center;
    background-size: cover; }

  .bg.seo {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/images/search-engine-optimization-background.jpg") no-repeat center;
    background-size: cover; }

  .bg.pay-per-click-marketing {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/images/pay-per-click-marketing-background.jpg") no-repeat center;
    background-size: cover; }

  .bg.contact-us,
  .bg.thank-you {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/images/contact-us-background.jpg") no-repeat center;
    background-size: cover; }

  .logo,
  .oldNavWrapper,
  .oldNav,
  .newNavWrapper,
  .newNav {
    height: 7.5vw; }

  .newNavWrapper,
  .newNav {
    top: -7.5vw; }

  .slideNewNavDown {
    transform: translateY(7.45vw); }

  h1.splash {
    font-size: 5vw;
    line-height: 8vw; }

  h2.splash {
    font-size: 2.7vw;
    line-height: 4.3vw; } }
@media (min-width: 992px) {
  .footerCols p a i {
    font-size: 2.8vw;
    color: grey;
    -webkit-transition: color 0.4s;
    /* Safari */
    transition: color 0.4s;
    padding-right: 1vw; }

  .bigSpacer {
    padding-top: 2vw; }

  .officeLocationHtAdjust {
    padding-top: 0.25vw; }

  .addressText {
    font-size: 1.5vw;
    flex-direction: row; }

  input[type=submit] {
    background: inherit;
    padding: 0.1vw 0.5vw;
    border: 0.2vw solid #4286f4;
    border-radius: 0.5vw;
    -webkit-transition: background color 0.4s;
    /* Safari */
    transition: background color 0.4s;
    font-size: 2vw;
    margin-top: 0; }

  .inputField {
    font-size: 2vw;
    padding: 0.1vw 0.5vw;
    border: 0.2vw solid lightgrey;
    border-radius: 0.5vw;
    outline: none;
    margin-top: 0; }

  .textBox {
    margin-top: 15px;
    width: 100%;
    font-size: 2vw;
    padding: 0.1vw 0.5vw;
    border: 0.2vw solid lightgrey;
    border-radius: 0.5vw;
    outline: none; }

  .hvr-underline-from-left:before,
  .hvr-underline-from-none:before {
    height: 0.2vw; }

  .eqHeight.reversible {
    flex-direction: row-reverse; }

  .serviceDetail h3 {
    padding: 0.5vw;
    padding-left: 0; }

  .serviceText.serviceSpace p {
    padding-top: 0;
    padding-bottom: 0; }

  #map p span {
    padding-left: 1vw; }

  #map img {
    width: 8vw;
    height: 6vw; }

  .logo,
  .oldNavWrapper,
  .oldNav,
  .newNavWrapper,
  .newNav {
    height: 4.875vw; }

  .newNavWrapper,
  .newNav {
    top: -4.875vw; }

  .slideNewNavDown {
    transform: translateY(4.87vw); }

  h1.splash {
    font-size: 3.25vw;
    line-height: 5.2vw; }

  h2.splash {
    font-size: 1.8vw;
    line-height: 2.9vw; }

  .oldNav > ul > li:last-child {
    display: none; }

  .oldNav > ul > li:not(:last-child) {
    display: inline-block; }

  .newNav > ul > li:last-child {
    display: none; }

  .newNav > ul > li:not(:last-child) {
    display: inline-block; }

  .serviceTextBox {
    font-size: 1.5vw; }

  .serviceTextBoxHeading {
    font-size: 1.5vw; }

  .banner {
    padding: 3.075vw 1.825vw; }

  .serviceHeading {
    padding: 3.075vw 1.825vw; }

  .serviceIcon {
    width: 7.975vw; }

  .eqHeight {
    justify-content: space-between; }

  .serviceCols {
    width: 30.9vw;
    padding: 3.075vw 0 3.075vw 1.825vw; }

  .serviceCols:last-child {
    padding: 3.075vw 1.825vw 3.075vw 0; }

  .footerCols {
    width: 22.71875vw;
    padding: 3.075vw 0 3.075vw 1.825vw; }

  .footerCols:last-child {
    padding: 3.075vw 1.825vw 3.075vw 0; }

  .footerImg {
    width: 100%; }

  .featuresImg {
    width: 100%; }

  .copyright {
    padding: 1vw 1.825vw; }

  .copyright ul {
    text-align: right; }

  .copyright ul li {
    display: inline-block;
    margin-left: 1.5vw; }

  .copyright p {
    font-size: 1vw;
    margin: 0;
    text-align: left; }

  .copyright i {
    font-size: 2.2vw; }

  .copyright:last-child {
    text-align: right; }

  .serviceText {
    width: 23.025vw;
    padding-left: 1.5vw; }

  .serviceText p {
    font-size: 1.2vw; }

  h1 {
    font-size: 3.25vw;
    margin: 0; }

  h2 {
    font-size: 2.25vw;
    margin: 0;
    line-height: 3.375vw; }

  h3 {
    font-size: 1.875vw;
    margin: 0;
    line-height: 3vw; }

  .footerCols h3 {
    font-size: 1.875vw;
    padding: 2.25vw 0; }

  .footerCols p {
    font-size: 1.2vw;
    line-height: 2vw; }

  .footerRow {
    text-align: left; }

  .footerCols ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    margin: 0; }

  .footerCols ul li img {
    display: block;
    height: auto;
    width: 4vw;
    padding: 1.5vw 0vw; }

  .featuresContainer {
    display: flex; }

  .features {
    display: flex;
    text-align: center;
    padding: 3.075vw 1.825vw;
    align-items: center; }

  .featuresPadding {
    padding: 3.075vw 1.825vw; }

  .features ul {
    list-style: none;
    background-color: ghostwhite;
    width: 22vw;
    padding: 0; }

  .features ul li {
    font-size: 1.2vw;
    padding: 0.75vw;
    width: 80%; }

  .features ul h2 {
    padding: 0.75vw; }

  .serviceDetail {
    font-size: 1.5vw;
    text-align: left; } }
.bar1, .bar2, .bar3 {
  width: 28px;
  height: 4px;
  background-color: white;
  margin: 6px 0;
  transition: 0.2s;
  border-radius: 4px; }

.change .bar1 {
  transform: translate3d(8px, 4px, 0) rotate(45deg) scale(0.7, 1); }

.change .bar2 {
  transform: rotate(-180deg); }

.change .bar3 {
  transform: translate3d(8px, -4px, 0) rotate(-45deg) scale(0.7, 1); }

/*# sourceMappingURL=styles.css.map */
