<div class="menu">
    <ul>
        <li>
            <a href="/" class="hvr-underline-from-left">Home</a>{{ partial "telmenuphonebutton.html" . }}
            <img class="phone" src="/images/phone.png">
            </a>
        </li>
        <li>
            <a href="#" onclick="return false;" class="hvr-underline-from-none">Services</a>
            <ul>
                <li>
                    <a href="/website-design/" class="hvr-underline-from-left">Website Design</a>
                </li>
                <li>
                    <a href="/seo/" class="hvr-underline-from-left">SEO</a>
                </li>
                <li>
                    <a href="/ppc/" class="hvr-underline-from-left">PPC Marketing</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/contact/" class="hvr-underline-from-left">Contact</a>
        </li>
    </ul>
</div>
<div class="oldNavWrapper oldNav">
    <a href="/">
        <img src="/images/fivestarlogobefore.svg" class="logo">
    </a>
    <ul>
        <li>
            <a href="/" class="hvr-underline-from-left">Home</a>
        </li>
        <li>
            <a href="#" onclick="return false;" class="hvr-underline-from-none">Services</a>
            <ul>
                <li>
                    <a href="/website-design/" class="hvr-underline-from-left">Website Design</a>
                </li>
                <li>
                    <a href="/seo/" class="hvr-underline-from-left">SEO</a>
                </li>
                <li>
                    <a href="/ppc/" class="hvr-underline-from-left">PPC Marketing</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/contact/" class="hvr-underline-from-left">Contact</a>
        </li>
        <li>
            <button>{{ partial "telnumberbracketedlink.html" . }}</button>
        </li>
        <li>
            <div class="icon-menu">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
        </li>
    </ul>
</div>
<div class="newNavWrapper newNav">
    <a href="/">
        <img src="/images/fivestarlogo.svg" class="logo">
    </a>
    <ul>
        <li>
            <a href="/" class="hvr-underline-from-left">Home</a>
        </li>
        <li>
            <a href="#" onclick="return false;" class="hvr-underline-from-none">Services</a>
            <ul>
                <li>
                    <a href="/website-design/" class="hvr-underline-from-left">Website Design</a>
                </li>
                <li>
                    <a href="/seo/" class="hvr-underline-from-left">SEO</a>
                </li>
                <li>
                    <a href="/ppc/" class="hvr-underline-from-left">PPC Marketing</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/contact/" class="hvr-underline-from-left">Contact</a>
        </li>
        <li>
            <button id="bottomScroll">{{ partial "telnumberbracketedlink.html" . }}</li>
        <li>
            <div class="icon-menuBottom">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
        </li>
    </ul>
</div>